<!-- INCLUDE misc/overall_header.html -->

<div class="row-fluid">
	<div class="span8 offset2">

		<div>
			<h1>{L_FAQ_TITLE}</h1>
		</div>

		<div>
			<!-- BEGIN faq_block -->
				<dl class="faq">
					<dt><strong>{faq_block.BLOCK_TITLE}</strong></dt>
					<!-- BEGIN faq_row -->
						<dd><a href="#f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}">{faq_block.faq_row.FAQ_QUESTION}</a></dd>
					<!-- END faq_row -->
				</dl>
			<!-- END faq_block -->
		</div>

		<!-- BEGIN faq_block -->
			<h2>{faq_block.BLOCK_TITLE}</h2>
			<!-- BEGIN faq_row -->
				<h3 id="f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}">{faq_block.faq_row.FAQ_QUESTION}</h3>
				<p>{faq_block.faq_row.FAQ_ANSWER}</p>
				<p><a href="#top">{L_BACK_TO_TOP}</a></p>
			<!-- END faq_row -->
		<!-- END faq_block -->

		<!-- INCLUDE misc/jumpbox.html -->

	</div>
</div>

<!-- INCLUDE misc/overall_footer.html -->
