<script type="text/javascript">
// <![CDATA[
	onload_functions.push('apply_onkeypress_event()');
// ]]>
</script>

<div class="row-fluid">
	<div class="span8 offset2">

		<!-- IF ERROR -->
			<div class="alert alert-error">{ERROR}</div>
		<!-- ENDIF -->

		<!-- IF S_PRIVMSGS and not S_SHOW_DRAFTS -->

			<div class="column1">
			<!-- IF S_ALLOW_MASS_PM -->
				<!-- IF .to_recipient -->
					
						<label>{L_TO}:</label>
						
							<!-- BEGIN to_recipient -->
								<!-- IF not to_recipient.S_FIRST_ROW and to_recipient.S_ROW_COUNT mod 2 eq 0 --><!-- ENDIF -->
								<!-- IF to_recipient.IS_GROUP --><a href="{to_recipient.U_VIEW}"><strong>{to_recipient.NAME}</strong></a>&nbsp;<!-- ELSE -->{to_recipient.NAME_FULL}&nbsp;<!-- ENDIF -->
								<!-- IF not S_EDIT_POST --><input type="submit" name="remove_{to_recipient.TYPE}[{to_recipient.UG_ID}]" value="x" class="btn btn-danger btn-mini" />&nbsp;<!-- ENDIF -->
							<!-- END to_recipient -->
						
					
				<!-- ENDIF -->
				<!-- IF .bcc_recipient -->
					
						<label>{L_BCC}:</label>
						
							<!-- BEGIN bcc_recipient -->
								<!-- IF not bcc_recipient.S_FIRST_ROW and bcc_recipient.S_ROW_COUNT mod 2 eq 0 --><!-- ENDIF -->
								<!-- IF bcc_recipient.IS_GROUP --><a href="{bcc_recipient.U_VIEW}"><strong>{bcc_recipient.NAME}</strong></a><!-- ELSE -->{bcc_recipient.NAME_FULL}&nbsp;<!-- ENDIF -->
								<!-- IF not S_EDIT_POST --><input type="submit" name="remove_{bcc_recipient.TYPE}[{bcc_recipient.UG_ID}]" value="x" class="btn btn-danger btn-mini" />&nbsp;<!-- ENDIF -->
							<!-- END bcc_recipient -->
						
					
				<!-- ENDIF -->
				<!-- IF not S_EDIT_POST -->
					<textarea id="username_list" name="username_list" class="inputbox" cols="50" rows="2"></textarea>
					
					<div class="btn-group">
						<span><a class="btn btn-mini" href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></span>
						<button type="submit" name="add_to" value="{L_ADD}" class="btn btn-mini">{L_ADD}</button>
						<button type="submit" name="add_bcc" value="{L_ADD_BCC}" class="btn btn-mini" />{L_ADD_BCC}</button>
					</div>
					
					
				
				<!-- ENDIF -->
			<!-- ELSE -->
				
					<label for="username_list">{L_TO}:</label><!-- IF not S_EDIT_POST --><br /><span><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false">{L_FIND_USERNAME}</a></span><!-- ENDIF -->
					<!-- IF .to_recipient -->
						
							<!-- BEGIN to_recipient -->
								<!-- IF not to_recipient.S_FIRST_ROW and to_recipient.S_ROW_COUNT mod 2 eq 0 --><!-- ENDIF -->
								<!-- IF to_recipient.IS_GROUP --><a href="{to_recipient.U_VIEW}"><strong>{to_recipient.NAME}</strong></a><!-- ELSE -->{to_recipient.NAME_FULL}&nbsp;<!-- ENDIF -->
								<!-- IF not S_EDIT_POST --><input type="submit" name="remove_{to_recipient.TYPE}[{to_recipient.UG_ID}]" value="x" class="btn btn-danger btn-mini" />&nbsp;<!-- ENDIF -->
							<!-- END to_recipient -->
						
					<!-- ENDIF -->

					<!-- IF not S_EDIT_POST -->
					<input class="inputbox" type="text" name="username_list" id="username_list" size="20" value="" /> <input type="submit" name="add_to" value="{L_ADD}" class="btn" />
					<!-- ENDIF -->
				
			<!-- ENDIF -->

			</div>

			<!-- IF S_GROUP_OPTIONS -->
				<div class="column2">
					
						<label for="group_list">{L_USERGROUPS}:</label> <select name="group_list[]" id="group_list" multiple="multiple" size="4" class="inputbox">{S_GROUP_OPTIONS}</select>
					
				</div>
			<!-- ENDIF -->

		<!-- ENDIF -->

		<!-- IF S_DELETE_ALLOWED -->
			<label class="checkbox"><input type="checkbox" name="delete" id="delete"> {L_DELETE_POST} <span class="muted">{L_DELETE_POST_WARN}</span></label>


		<!-- ENDIF -->

		<!-- IF S_SHOW_TOPIC_ICONS or S_SHOW_PM_ICONS -->
			<div>{L_ICON}:</div>

			<label class="radio inline">
				<input type="radio" name="icon" value="0" checked>
				<!-- IF S_SHOW_TOPIC_ICONS -->{L_NO_TOPIC_ICON}<!-- ELSE -->{L_NO_PM_ICON}<!-- ENDIF -->
			</label>

			<!-- BEGIN topic_icon -->
				<label class="radio inline">
					<input type="radio" name="icon" value="{topic_icon.ICON_ID}" {topic_icon.S_ICON_CHECKED}>
					<img src="{topic_icon.ICON_IMG}" width="{topic_icon.ICON_WIDTH}" height="{topic_icon.ICON_HEIGHT}" alt="" title="">
				</label>
			<!-- END topic_icon -->

		<!-- ENDIF -->

		<!-- IF not S_PRIVMSGS and S_DISPLAY_USERNAME -->
			<label for="username">{L_USERNAME}:</label>
			<input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="inputbox autowidth" />
		<!-- ENDIF -->

		<!-- IF ((S_POST_ACTION or S_EDIT_DRAFT) and not TOPIC_TITLE) or S_PRIVMSGS -->
			<input type="text" name="subject" maxlength="60" tabindex="2" value="{SUBJECT}{DRAFT_SUBJECT}" class="input-block-level" placeholder="{L_SUBJECT}">
			<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
				<!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
				<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
			<!-- ENDIF -->
		<!-- ELSEIF S_POST_ACTION or S_EDIT_DRAFT -->
			<input type="hidden" name="subject" value="{SUBJECT}{DRAFT_SUBJECT}">
		<!-- ENDIF -->


		<!-- INCLUDE posting_buttons.html -->
	</div>
</div>

<div class="row-fluid">
	<div class="span8 offset2">
		<div id="message-box">
			<!-- IF S_UCP_ACTION and not S_PRIVMSGS and not S_EDIT_DRAFT -->
				<!-- DEFINE $NAME = 'signature' -->
			<!-- ELSE -->
				<!-- DEFINE $NAME = 'message' -->
			<!-- ENDIF -->
			<textarea name="{$NAME}" id="{$NAME}" class="input-block-level" rows="8" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">{MESSAGE}{DRAFT_MESSAGE}{SIGNATURE}</textarea>
		</div>
	</div>
	<div class="span2 hidden-phone">
		{BBCODE_STATUS}<br />
		<!-- IF S_BBCODE_ALLOWED -->
			{IMG_STATUS}<br />
			{FLASH_STATUS}<br />
			{URL_STATUS}<br />
		<!-- ENDIF -->
		{SMILIES_STATUS}
	</div>
</div>

<div class="row-fluid">
	<div class="span8 offset2">

		<!-- IF S_EDIT_DRAFT -->
			<!-- IF S_EDIT_DRAFT --><a href="{S_UCP_ACTION}">{L_BACK_TO_DRAFTS}</a><!-- ENDIF -->
		<!-- ENDIF -->

		<!-- IF $EXTRA_POSTING_OPTIONS eq 1 -->

			<!-- IF S_HAS_ATTACHMENTS -->
				<h3>{L_POSTED_ATTACHMENTS}</h3>
				<table class="table table-striped attachments form-inline">
					<tbody>
						<!-- BEGIN attach_row -->
							<tr>
								<td>
									<a href="{attach_row.U_VIEW_ATTACHMENT}">{attach_row.FILENAME}</a>
								</td>
								<td>
									<input type="text" name="comment_list[{attach_row.ASSOC_INDEX}]" id="comment_list_{attach_row.ASSOC_INDEX}" class="input-medium" placeholder="{L_FILE_COMMENT}" value="{attach_row.FILE_COMMENT}">
								</td>
								<td>
									<!-- IF S_INLINE_ATTACHMENT_OPTIONS -->
										<input type="button" value="{L_PLACE_INLINE}" onclick="attach_inline({attach_row.ASSOC_INDEX}, '{attach_row.A_FILENAME}');" class="btn">
									<!-- ENDIF -->
									<input type="submit" name="delete_file[{attach_row.ASSOC_INDEX}]" value="{L_DELETE_FILE}" class="btn">
									{attach_row.S_HIDDEN}
								</td>
							</tr>
						<!-- END attach_row -->
					</tbody>
				</table>
			<!-- ENDIF -->

			<!-- IF not S_PRIVMSGS and not S_SHOW_DRAFTS and not $SIG_EDIT eq 1 -->
				<ul class="nav nav-tabs">
					<li class="active"><a href="#options" data-toggle="tab">{L_OPTIONS}</a></li>
					<!-- IF S_SHOW_ATTACH_BOX -->
						<li><a href="#attach" data-toggle="tab">{L_ADD_ATTACHMENT}</a></li>
					<!-- ENDIF -->
					<!-- IF S_SHOW_POLL_BOX || S_POLL_DELETE -->
						<li><a href="#poll" data-toggle="tab">{L_ADD_POLL}</a></li><!-- ENDIF -->
				</ul>
			<!-- ENDIF -->

			<div class="tab-content">

				<!-- IF not S_SHOW_DRAFTS and not $SIG_EDIT eq 1 -->
					<div class="tab-pane active" id="options">
						
								<!-- IF S_BBCODE_ALLOWED -->
									<label class="checkbox"><input type="checkbox" name="disable_bbcode" id="disable_bbcode"{S_BBCODE_CHECKED}> {L_DISABLE_BBCODE}</label>
								<!-- ENDIF -->
								<!-- IF S_SMILIES_ALLOWED -->
									<label class="checkbox"><input type="checkbox" name="disable_smilies" id="disable_smilies"{S_SMILIES_CHECKED}> {L_DISABLE_SMILIES}</label>
								<!-- ENDIF -->
								<!-- IF S_LINKS_ALLOWED -->
									<label class="checkbox"><input type="checkbox" name="disable_magic_url" id="disable_magic_url"{S_MAGIC_URL_CHECKED}> {L_DISABLE_MAGIC_URL}</label>
								<!-- ENDIF -->
								<!-- IF S_SIG_ALLOWED -->
									<label class="checkbox"><input type="checkbox" name="attach_sig" id="attach_sig"{S_SIGNATURE_CHECKED}> {L_ATTACH_SIG}</label>
								<!-- ENDIF -->
								<!-- IF S_NOTIFY_ALLOWED -->
									<label class="checkbox"><input type="checkbox" name="notify" id="notify"{S_NOTIFY_CHECKED}> {L_NOTIFY_REPLY}</label>
								<!-- ENDIF -->
								<!-- IF S_LOCK_TOPIC_ALLOWED -->
									<label class="checkbox"><input type="checkbox" name="lock_topic" id="lock_topic"{S_LOCK_TOPIC_CHECKED}> {L_LOCK_TOPIC}</label>
								<!-- ENDIF -->
								<!-- IF S_LOCK_POST_ALLOWED -->
									<label class="checkbox"><input type="checkbox" name="lock_post" id="lock_post"{S_LOCK_POST_CHECKED}> {L_LOCK_POST} [{L_LOCK_POST_EXPLAIN}]</label>
								<!-- ENDIF -->

								<!-- IF S_TYPE_TOGGLE -->
									<hr>
									<label>
										<!-- IF S_EDIT_POST -->
											{L_CHANGE_TOPIC_TO}
										<!-- ELSE -->
											{L_POST_TOPIC_AS}
										<!-- ENDIF -->:
									</label>
									<!-- BEGIN topic_type -->
										<label class="radio">
											<input type="radio" name="topic_type" id="topic_type-{topic_type.VALUE}" value="{topic_type.VALUE}"{topic_type.S_CHECKED}>
											{topic_type.L_TOPIC_TYPE}
										</label>
									<!-- END topic_type -->
								<!-- ENDIF -->

								<!-- IF S_TOPIC_TYPE_ANNOUNCE or S_TOPIC_TYPE_STICKY -->
									<hr>
									<label>{L_STICK_TOPIC_FOR}:</label>
									<div class="input-append">
										<input type="text" name="topic_time_limit" id="topic_time_limit" size="3" maxlength="3" value="{TOPIC_TIME_LIMIT}" class="input-mini">
										<span class="add-on">{L_DAYS}</span>
									</div>
									<p>{L_STICK_TOPIC_FOR_EXPLAIN}</p>
								<!-- ENDIF -->

								<!-- IF S_EDIT_REASON -->
									<hr>
									<label>{L_EDIT_REASON}:</label>
									<input type="text" name="edit_reason" id="edit_reason" value="{EDIT_REASON}" class="input-block-level">
								<!-- ENDIF -->

					</div>

				<!-- ENDIF -->

				<!-- IF S_SHOW_ATTACH_BOX -->
					<div class="tab-pane" id="attach">
						<!-- INCLUDE posting_attach_body.html -->
					</div>
				<!-- ENDIF -->

				<!-- IF S_SHOW_POLL_BOX or S_POLL_DELETE -->
					<div class="tab-pane" id="poll">
						<!-- INCLUDE posting_poll_body.html -->
					</div>
				<!-- ENDIF -->
			
			</div>

		<!-- ENDIF -->

		<!-- IF not S_SHOW_DRAFTS and not $SIG_EDIT eq 1 -->
			<div class="form-actions" id="submit">
				{S_HIDDEN_ADDRESS_FIELD}
				{S_HIDDEN_FIELDS}
				<input type="submit" accesskey="s" tabindex="6" name="post" value="{L_SUBMIT}" class="btn btn-primary">
				<input type="submit" tabindex="5" name="preview" value="{L_PREVIEW}" class="btn"<!-- IF not S_PRIVMSGS --> onclick="document.getElementById('postform').action += '#preview';"<!-- ENDIF -->>
				<!-- IF S_SAVE_ALLOWED -->
					<input type="submit" accesskey="k" tabindex="7" name="save" value="{L_SAVE_DRAFT}" class="btn">
				<!-- ENDIF -->
				<!-- IF S_HAS_DRAFTS -->
					<input type="submit" accesskey="d" tabindex="8" name="load" value="{L_LOAD_DRAFT}" class="btn" onclick="load_draft = true;">
				<!-- ENDIF -->
			</div>
		<!-- ENDIF -->

	</div>
</div>