<div id="preview">

	<div class="row-fluid">
		<div class="span8 offset2">
			<h3>{L_PREVIEW}</h3>
		</div>
	</div>

  <!-- INCLUDE misc/poll.html -->
	
	<div id="p{postrow.POST_ID}" class="row-fluid post">

		<div class="post-meta span2 muted">
			<div class="author">
				{S_USERNAME}
			</div>
			<div class="date">
				{LAST_VISIT_YOU}
			</div>
		</div>

		<div class="post-body span8">

			<div class="content">{PREVIEW_MESSAGE}</div>

			<!-- IF .attachment -->
				<table class="attachments table table-striped">
					<thead>
						<th colspan="3">{L_ATTACHMENTS}</th>
					</thead>
					<tbody>
						<!-- BEGIN attachment -->
						  {attachment.DISPLAY_ATTACHMENT}
						<!-- END attachment -->
					</tbody>
				</table>
			<!-- ENDIF -->

			<!-- IF PREVIEW_SIGNATURE --><p class="muted">{PREVIEW_SIGNATURE}</p><!-- ENDIF -->

		</div>
		
	</div>

</div>
