<div class="row-fluid">
	<div class="span8 offset2">

		<h3>
			{L_TOPIC_REVIEW}: {TOPIC_TITLE}
		</h3>

	</div>
</div>

<script type="text/javascript">
// <![CDATA[
	bbcodeEnabled = {S_BBCODE_ALLOWED};
// ]]>
</script>

<div class="posts">
	<!-- BEGIN topic_review_row -->

		<!-- IF topic_review_row.S_IGNORE_POST -->
				{topic_review_row.L_IGNORE_POST}
		<!-- ENDIF -->

		<div id="pr{topic_review_row.POST_ID}" class="row-fluid post">

			<div class="post-body span8 offset2">

				<div class="post-meta clearfix">

					<div class="author">
						{topic_review_row.POST_AUTHOR_FULL}
					</div>

					<div class="date muted">
						{topic_review_row.POST_DATE}
					</div>

				</div>

				<div class="content">{topic_review_row.MESSAGE}</div>

				<!-- IF topic_review_row.S_HAS_ATTACHMENTS -->
					<table class="attachments table table-striped">
						<thead>
							<th colspan="3">{L_ATTACHMENTS}</th>
						</thead>
						<tbody>
							<!-- BEGIN attachment -->
							  {topic_review_row.attachment.DISPLAY_ATTACHMENT}
							<!-- END attachment -->
						</tbody>
					</table>
				<!-- ENDIF -->

				<!-- IF topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE -->
					<div id="message_{topic_review_row.POST_ID}" style="display: none;">{topic_review_row.DECODED_MESSAGE}</div>
				<!-- ENDIF -->
			</div>

			<div class="post-controls span2">
				<!-- IF topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE -->
					<a href="#message-box" onclick="addquote({topic_review_row.POST_ID}, '{topic_review_row.POSTER_QUOTE}', '{LA_WROTE}');" title="{L_QUOTE} {topic_review_row.POST_AUTHOR}">{L_QUOTE} {topic_review_row.POST_AUTHOR}</a>
				<!-- ENDIF -->
				<!-- IF topic_review_row.U_MCP_DETAILS -->
					<br><a href="{topic_review_row.U_MCP_DETAILS}">{L_POST_DETAILS}</a>
				<!-- ENDIF -->
			</div>

		</div>

	<!-- END topic_review_row -->
</div>

<div class="row-fluid">
	<div class="span8 offset2">
		<a href="#top">{L_BACK_TO_TOP}</a>
	</div>
</div>
