<!-- INCLUDE misc/overall_header.html -->

<div class="row-fluid">
	<div class="span8 offset2">

		<div>
			<!-- IF TOPIC_TITLE -->
				<h1>{TOPIC_TITLE}</h1>
			<!-- ELSE -->
				<h1>{FORUM_NAME}</h1>
				<!-- IF FORUM_DESC --><p class="lead">{FORUM_DESC}</p><!-- ENDIF -->
			<!-- ENDIF -->
		</div>

		<!-- INCLUDE misc/breadcrumb.html -->

		<!-- INCLUDE misc/rules.html -->

		<!-- IF S_DRAFT_LOADED -->
			<div class="alert">
				<strong>{L_INFORMATION}</strong><br>
				{L_DRAFT_LOADED}
			</div>
		<!-- ENDIF -->

		<h2>{L_POST_A}</h2>

		<!-- IF S_SHOW_DRAFTS --><!-- INCLUDE misc/drafts.html --><!-- ENDIF -->

	</div>
</div>

<!-- IF S_DISPLAY_PREVIEW --><!-- INCLUDE posting_preview.html --><!-- ENDIF -->

<form id="postform" method="post" action="{S_POST_ACTION}"{S_FORM_ENCTYPE}>
	{S_FORM_TOKEN}

	<!-- IF S_POST_REVIEW --><!-- INCLUDE posting_review.html --><!-- ENDIF -->			

	<!-- DEFINE $EXTRA_POSTING_OPTIONS = 1 -->
	<!-- INCLUDE posting_editor.html -->

</form>

<!-- IF S_DISPLAY_REVIEW --><!-- INCLUDE posting_topic_review.html --><!-- ENDIF -->

<!-- INCLUDE misc/overall_footer.html -->