<!-- INCLUDE misc/overall_header.html -->

<div class="row-fluid">
	<div class="span8 offset2">
		<div class="well">
			<form method="post" action="{S_REPORT_ACTION}" id="report">

				<h2><!-- IF S_REPORT_POST -->{L_REPORT_POST}<!-- ELSE -->{L_REPORT_MESSAGE}<!-- ENDIF --></h2>
			
				<p><!-- IF S_REPORT_POST -->{L_REPORT_POST_EXPLAIN}<!-- ELSE -->{L_REPORT_MESSAGE_EXPLAIN}<!-- ENDIF --></p>
				
				<label for="reason_id">{L_REASON}:</label>
				<select name="reason_id" id="reason_id" class="input-block-level">
					<!-- BEGIN reason -->
						<option value="{reason.ID}"<!-- IF reason.S_SELECTED --> selected="selected"<!-- ENDIF -->>{reason.DESCRIPTION}</option>
					<!-- END reason -->
				</select>

				<!-- IF S_CAN_NOTIFY -->
					<label>{L_REPORT_NOTIFY}:</label>
					<label for="notify1" class="radio"><input type="radio" name="notify" id="notify1" value="1" <!-- IF not S_NOTIFY -->checked="checked"<!-- ENDIF -->> {L_YES}</label> 
					<label for="notify0" class="radio"><input type="radio" name="notify" id="notify0" value="0" <!-- IF S_NOTIFY -->checked="checked"<!-- ENDIF -->> {L_NO}</label>
					<span class="help-block">{L_REPORT_NOTIFY_EXPLAIN}</span>
				<!-- ENDIF -->

				<label for="report_text">{L_MORE_INFO}:</label>
				<textarea name="report_text" id="report_text" rows="10" class="input-block-level">{REPORT_TEXT}</textarea>
				<span class="help-block">{L_CAN_LEAVE_BLANK}</span>


				<input type="submit" name="submit" class="btn btn-primary" value="{L_SUBMIT}">&nbsp;
				<input type="submit" name="cancel" class="btn" value="{L_CANCEL}">
				{S_FORM_TOKEN}

			</form>
		</div>
	</div>
</div>

<!-- INCLUDE misc/overall_footer.html -->
