<!-- INCLUDE misc/overall_header.html -->

<script type="text/javascript">
// <![CDATA[
	/**
	* Change language
	*/
	function change_language(lang_iso)
	{
		document.forms['register'].change_lang.value = lang_iso;
		document.forms['register'].submit.click();
	}

	<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_REFRESH -->
	onload_functions.push('apply_onkeypress_event()');
	<!-- ENDIF -->

// ]]>
</script>

<div class="row-fluid">
	<div class="span8 offset2">

		<h1>{SITENAME} - {L_REGISTRATION}</h1>
		<hr>

		<!-- IF ERROR --><div class="alert alert-error">{ERROR}</div><!-- ENDIF -->

		<form method="post" action="{S_UCP_ACTION}" id="register" class="form-horizontal">

			<!-- IF L_REG_COND --><strong>{L_REG_COND}</strong><!-- ENDIF -->
			
			<div class="control-group">
				<label class="control-label" for="username">{L_USERNAME}:</label>
				<div class="controls">
					<input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}">
					<span class="help-inline">{L_USERNAME_EXPLAIN}</span>
				</div>
			</div>
	  	
			<div class="control-group">
	  		<label class="control-label" for="email">{L_EMAIL_ADDRESS}:</label>
				<div class="controls">
	    		<input type="text" tabindex="2" name="email" id="email" size="25" maxlength="100" value="{EMAIL}">
		  	</div>
	  	</div>
	  	
			<div class="control-group">
	      <label class="control-label" for="email_confirm">{L_CONFIRM_EMAIL}:</label>
				<div class="controls">
	      	<input type="text" tabindex="3" name="email_confirm" id="email_confirm" size="25" maxlength="100" value="{EMAIL_CONFIRM}">
	   		</div>
   		</div>
	  	
		
			<div class="control-group">
				<label class="control-label" for="email_confirm">{L_CONFIRM_EMAIL}:</label>
				<div class="controls">
					<input type="text" tabindex="3" name="email_confirm" id="email_confirm" size="25" maxlength="100" value="{EMAIL_CONFIRM}">
				</div>
			</div>
	  	
			<div class="control-group">
				<label class="control-label" for="new_password">{L_PASSWORD}:</label>
				<div class="controls">
					<input type="password" tabindex="4" name="new_password" id="new_password" size="25" value="{PASSWORD}">
					<span class="help-inline">{L_PASSWORD_EXPLAIN}</span>
				</div>
			</div>
	  	
			<div class="control-group">
				<label class="control-label" for="password_confirm">{L_CONFIRM_PASSWORD}:</label>
				<div class="controls">
					<input type="password" tabindex="5" name="password_confirm" id="password_confirm" size="25" value="{PASSWORD_CONFIRM}">
				</div>
			</div>
	  	
			<div class="control-group">
				<label class="control-label" for="lang">{L_LANGUAGE}:</label>
				<div class="controls">
					<select name="lang" id="lang" onchange="change_language(this.value); return false;" tabindex="6">{S_LANG_OPTIONS}</select>
				</div>
			</div>
	  	
			<div class="control-group">
				<label class="control-label" for="tz">{L_TIMEZONE}:</label>
				<div class="controls">
					<select name="tz" id="tz" tabindex="7" class="autowidth">{S_TZ_OPTIONS}</select>
				</div>
			</div>
	  	
			<!-- IF .profile_fields -->
				<strong>{L_ITEMS_REQUIRED}</strong>

				<!-- BEGIN profile_fields -->
				
					<div class="control-group">
						<label class="control-label"<!-- IF profile_fields.FIELD_ID --> for="{profile_fields.FIELD_ID}"<!-- ENDIF -->>
							{profile_fields.LANG_NAME}:
							<!-- IF profile_fields.S_REQUIRED --> *<!-- ENDIF -->
						</label>
						<div class="controls">
							{profile_fields.FIELD}
							<!-- IF profile_fields.LANG_EXPLAIN -->
								<span class="help-block">{profile_fields.LANG_EXPLAIN}</span>
							<!-- ENDIF -->
							<!-- IF profile_fields.ERROR --><div class="alert alert-error">{profile_fields.ERROR}</div><!-- ENDIF -->
						</div>
					</div>
	  	
				<!-- END profile_fields -->
			<!-- ENDIF -->

			<!-- IF CAPTCHA_TEMPLATE -->
				<!-- DEFINE $CAPTCHA_TAB_INDEX = 8 -->
				<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
			<!-- ENDIF -->

			<!-- IF S_COPPA -->
				<h3>{L_COPPA_COMPLIANCE}</h3>
				<p>{L_COPPA_EXPLAIN}</p>
			<!-- ENDIF -->
			
			<div class="control-group">
				<div class="controls">
					<input type="submit" tabindex="9" name="submit" id="submit" value="{L_SUBMIT}" class="btn btn-primary">
					<input type="reset" value="{L_RESET}" name="reset" class="btn">
				</div>
			</div>

	  	{S_HIDDEN_FIELDS}
			{S_FORM_TOKEN}
			
		</form>

	</div>
</div>

<!-- INCLUDE misc/overall_footer.html -->
