<form action="{S_LOGIN_ACTION}" method="post" id="login">
	<h3>{L_LOGIN}</h3>
		
	<!-- IF LOGIN_ERROR -->
		<div class="alert alert-error">{LOGIN_ERROR}</div>
	<!-- ENDIF -->

	<label for="{USERNAME_CREDENTIAL}">{L_USERNAME}:</label>
	<input type="text" class="input-block-level" tabindex="1" name="{USERNAME_CREDENTIAL}" id="{USERNAME_CREDENTIAL}" size="25" value="{USERNAME}">
	
	
	<label for="{PASSWORD_CREDENTIAL}">{L_PASSWORD}:</label>
	<input type="password" class="input-block-level" tabindex="2" id="{PASSWORD_CREDENTIAL}" name="{PASSWORD_CREDENTIAL}" size="25">

	<!-- IF S_DISPLAY_FULL_LOGIN and (U_SEND_PASSWORD or U_RESEND_ACTIVATION) -->
		<!-- IF U_SEND_PASSWORD --><a href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a><!-- ENDIF -->
		<!-- IF U_RESEND_ACTIVATION --><a href="{U_RESEND_ACTIVATION}">{L_RESEND_ACTIVATION}</a><!-- ENDIF -->
	<!-- ENDIF -->

	<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
		<!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
		<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
	<!-- ENDIF -->
	
	<!-- IF S_DISPLAY_FULL_LOGIN -->
	
		<!-- IF S_AUTOLOGIN_ENABLED -->
			<label for="autologin" class="checkbox">
				<input type="checkbox" name="autologin" id="autologin" tabindex="4">
				{L_LOG_ME_IN}
			</label>
		<!-- ENDIF -->
		
		<label for="viewonline" class="checkbox margin-bottom">
			<input type="checkbox" name="viewonline" id="viewonline" tabindex="5">
			{L_HIDE_ME}
		</label>
	
	<!-- ENDIF -->

	{S_LOGIN_REDIRECT}

	{S_HIDDEN_FIELDS}

	<div>
		<input type="submit" name="login" tabindex="6" value="{L_LOGIN}" class="btn btn-primary">
	</div>
	
</form>