<!-- IF PAGINATION -->
	<div class="pagination">
		<span class="pull-left">
			<!-- IF PREVIOUS_PAGE -->
				<a href="{PREVIOUS_PAGE}">{L_PREVIOUS}</a>
			<!-- ELSE -->
				<span class="muted">{L_PREVIOUS}</span>
			<!-- ENDIF -->
		</span>
		<span class="pull-right">
			<!-- IF NEXT_PAGE -->
				<a class="pull-right" href="{NEXT_PAGE}">{L_NEXT}</a>
			<!-- ELSE -->
				<span class="muted">{L_NEXT}</span>
			<!-- ENDIF -->
		</span>
		<div class="text-center">
			<span>{PAGINATION}</span>
		</div>
	</div>
<!-- ENDIF -->